#custom-nam-item a:hover{
    color: rgb(238, 68, 68);
}
.container{
    margin-top: 200px;
    text-align: center;
}

/* 
.enter-email{
    height: 60px;
    box-shadow: 4px 4px 3px 3px rgb(197, 222, 231);
    text-align: center;

}
.enter-email input{
    height: 50px;
    width: 20%;
    padding: 20px;
    margin: 10px;
    height: 35px;
    border-radius: 5px;
    border: none;
}

.enter-email button{
    height: 50px;
    width: 20%;
    padding: 20px;
    margin: 10px;
    height: 35px;
    border-radius: 5px;
    border: none;
 background-color: red;
} */